<%
page = {
    title: 'トップページ',
    className: '',
    description: 'トップページはトップページです。',
    ogpImage: `${ROOT_DIR}/assets/img/common/ogp.png`,
    styles: [],
    scripts: [],
};
%>

<%- include(ROOT_DIR + '/_structure/_header') -%>
<main class="tp-Main"></main>
<%- include(ROOT_DIR + '/_structure/_footer') -%>
