// 全ての要素をborder-boxにリセット
* {
    box-sizing: border-box;
}

img {
  vertical-align: top;
}

html {
    @extend %ffg;
    font-size: 62.5%; // 10px
    line-height: 1.5;
}


body {
    font-size: 1.6rem;
    @include break-point(mobile) {
        font-size: 1.4rem;
    };
}
