// color
$black: #233419;
$baseGray: #F5F6F8;
$red: #E63C09;
$white: #ffffff;

$mainColor: #75A714;
$brightColor: #99D100;
$baseColor: #BDDB6C;
$textColor: $black;
$backgroundColor: $white;

// default border value
$border: 1px solid #dddddd;
