// color
$red: red;
$green: green;
$blue: blue;

$themeColor: $red;
$keyColor: $green;

// size
$width: 1024px;

// px
$rootFontSize: 16;
$rootMobileFontSize: 14;

// custom-media
@custom-media --pc only screen and (min-width: 1024px);
@custom-media --tablet only screen and (max-width: 1023px);
@custom-media --mobile only screen and (max-width: 599px);

@custom-media --2dppx screen and (min-resolution: 2dppx);
@custom-media --3dppx screen and (min-resolution: 3dppx);
